@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

/* buttons */

body {
        background-color: #e2e3da;
}


.btn-small {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: #a86d32;
    color: white;
    font-family: 'Inconsolata', monospace;
}

/* fonts */

.brand {
   font-family: 'Special Elite', cursive;
   margin-left: 30px;
   padding: 5px;
}

.headline {
   font-family: 'Special Elite', cursive;
    font-weight: bold;
    color: #a86d32;
    margin: 10px;
}


.text-font {
    font-family: 'Inconsolata', monospace;
}

/* navbar */

.brand {
   font-family: 'Special Elite', cursive;
   margin: 10px;
   padding: 5px;
}

.menu-link {
    font-size: larger;
    
}

.side-nav {
   background-color: #a86d32; 
}

.nav-foot {
   
    background-color: #a86d32;
}

/* footer */

.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #e2e3da;
    background-color: #a86d32;
}

/* icons */

.material-icons {
    margin: 10px;
    
}

/* image slider */

.slider-text {
    font-family: 'Inconsolata', monospace;
    color: #e2e3da;
    font-weight: bolder;
   
}

.icons {
    margin: 10px;
    
}



.sections {
    margin-top: 30px;
    margin-bottom: 30px;
}

.review-section {
    background-color: #e2e3da;
    padding: 10px;

}

.slider-font {
    font-weight: 800;
    color: #cdcdb1;
    font-family: 'Inconsolata', monospace;

}

.main-section {
    margin: 20px;
}